@use "bootstrap-icons/font/bootstrap-icons.css";

@use "bulma/sass/utilities" with (
  $family-code: "JetBrains Mono",
);

@use "bulma/sass/components/navbar" with (
  $navbar-height: 3rem,
  $navbar-item-img-max-height: 2.5rem
);

@forward "bulma";

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-body-background-color: rgb(0, 2, 17);
  }
}